/* your styles go here */
.login-page::before {  
  background: url(../logos/fragmented.png);
  background-size: stretched;
  -webkit-filter: blur(0px);
  filter: blur(0px);
}

.login-page .form-holder {
	background: url(..);
	color: #11ffee00;
}

.login-page .container {
  padding: 100px;
}

.btn-file {
 	position: relative;
 	overflow: hidden;
}
.btn-file input[type=file] {
 	position: absolute;
 	top: 0;
 	right: 0;
 	min-width: 100%;
 	min-height: 100%;
 	font-size: 100px;
 	text-align: right;
  	filter: alpha(opacity=0);
  	opacity: 0;
  	background: red;
  	cursor: inherit;
  	display: block;
}
input[readonly] {
  	background-color: white !important;
  	cursor: text !important;
}

.a-dashboard {
	background: url(../logos/dashboard-2.png);
    background-size: 80px 80px;
	background-position: center;
	background-repeat: no-repeat;
	padding: 20px 30px;
  	text-decoration: none;
  	display: block;
  	font-weight: 300;
  	border-left: 4px solid transparent;
}

.a-cambodia {
	background: url(../img/drapeau/kh.png);
    background-size: 30px 20px;
	background-position: right;
	background-repeat: no-repeat;
	padding: 10px;
	height : 16px;
	width : 32px;
  	text-decoration: none;
  	display: block-line;
  	font-weight: 300;
  	border-left: 4px solid transparent;
}

.a-guadeloupe {
	background: url(../img/drapeau/fr.png);
    background-size: 30px 20px;
	background-position: right;
	background-repeat: no-repeat;
	padding: 10px;
	height : 16px;
	width : 32px;
  	text-decoration: none;
  	display: block-line;
  	font-weight: 300;
  	border-left: 4px solid transparent;
}

.a-ivory_coast {
	background: url(../img/drapeau/ci.png);
    background-size: 30px 20px;
	background-position: right;
	background-repeat: no-repeat;
	padding: 10px;
	height : 16px;
	width : 32px;
  	text-decoration: none;
  	display: block-line;
  	font-weight: 300;
  	border-left: 4px solid transparent;
}

.a-guinea {
	background: url(../img/drapeau/gn.png);
    background-size: 30px 20px;
	background-position: right;
	background-repeat: no-repeat;
	padding: 10px;
	height : 16px;
	width : 32px;
  	text-decoration: none;
  	display: block-line;
  	font-weight: 300;
  	border-left: 4px solid transparent;
}

.a-democratic_republic_of_congo {
	background: url(../img/drapeau/cd.png);
    background-size: 30px 20px;
	background-position: right;
	background-repeat: no-repeat;
	padding: 10px;
	height : 16px;
	width : 32px;
  	text-decoration: none;
  	display: block-line;
  	font-weight: 300;
  	border-left: 4px solid transparent;
}

.a-help {
	background: url(../logos/help.png);
    background-size: 40px 40px;
	background-position: center;
	background-repeat: no-repeat;
	padding: 20px 30px;
  	text-decoration: none;
  	display: block;
  	font-weight: 300;
  	border-left: 4px solid transparent;
}

.list-styled {
  padding-left: 0;
  list-style: none;
  position: relative;
}

.ms-container{
  	width: 100%;
}

.ms-container .ms-list{
    height: 100vh; 
}

.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -30px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-content {
    position: relative;
    min-width: 200px;
    min-height: 130px;
    height: 100%;
    max-height: 230px;
    padding:2px;
    white-space: normal;        
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    overflow-y: auto;
    overflow-x: hidden;
}
.ol-popup-content p{
    font-size: 14px;
    padding: 2px 4px;
    color: #222;
    margin-bottom: 15px;
}
.ol-popup-closer {
    position: absolute;
    top: -4px;
    right: 2px;
    font-size: 100%;
    color: #0088cc;
    text-decoration: none;
}
a.ol-popup-closer:hover{
    color: #005580;
    text-decoration: underline;
}
.ol-popup-closer:after {
    content: "✖";
}